<!--
 - Created by Radi on 30.10.2019 г..
 -->

<!-- Input Type Component -->
<template >
        <template for:each={elements} for:item='item'>
                <lightning-input type="text" variant='label-hidden' class='slds-m-around_small' key={item}></lightning-input>
        </template>
</template>