<!--
 - Created by Radi on 30.10.2019 г..
 -->

<!-- Button Type Component -->
<template>
    <template for:each={elements} for:item='item'>
        <div key={item}>
            <lightning-button-icon icon-name='utility:edit' onclick={handleClick} key={item}></lightning-button-icon>
        </div>
    </template>
</template>